In [16]:
import pandas as pd

In [17]:
file_paths = ['./csv/education/australia.csv', './csv/education/finland.csv', './csv/education/france.csv',
              './csv/education/italy.csv', './csv/education/japan.csv', './csv/education/korea.csv',
              './csv/education/netherlands.csv', './csv/education/poland.csv', './csv/education/singapore.csv',
              './csv/education/switerland.csv']

In [18]:
def read_and_transform_csv(file_paths):
    list_of_dataframes = {}
    for path in file_paths:
        name = path.split('/')[-1].split('.')[0]
        df = pd.read_csv(path)

        df['Year'] = pd.to_numeric(df['Year'], errors='coerce')
        df['Value'].fillna(0, inplace=True)
        df['Value'] = pd.to_numeric(df['Value'], errors='coerce')
        df['Year'] = pd.to_datetime(df['Year'], format='%Y', errors='coerce')

        df.dropna(inplace=True)
        df.reset_index(drop=True, inplace=True)
        list_of_dataframes[name] = df
    return list_of_dataframes

lista = read_and_transform_csv(file_paths)

,Country Name,Country ISO3,Year,Indicator Name,Indicator Code,Value
0,Australia,AUS,2010-01-01,Barro-Lee: Percentage of female population age...,BAR.NOED.1519.FE.ZS,0.10
1,Australia,AUS,2005-01-01,Barro-Lee: Percentage of female population age...,BAR.NOED.1519.FE.ZS,0.10
2,Australia,AUS,2000-01-01,Barro-Lee: Percentage of female population age...,BAR.NOED.1519.FE.ZS,0.21
3,Australia,AUS,1995-01-01,Barro-Lee: Percentage of female population age...,BAR.NOED.1519.FE.ZS,2.10
4,Australia,AUS,1990-01-01,Barro-Lee: Percentage of female population age...,BAR.NOED.1519.FE.ZS,0.10

0        2010
1        2005
2        2000
3        1995
4        1990
         ...
13634    1964
13635    1963
13636    1962
13637    1961
13638    1960
Name: Year, Length: 13639, dtype: int32